<!-- CREATE A POST FORM -->
<form id="add-post-form">
    <div class="post-header">
        <h2>Add A New Post</h2>
    </div>
    <div class="post-content">
        <div>
            <label>Post Title</label>
            <textarea class="textarea" placeholder="..." id="post-title"></textarea>
            <label>Content</label>
            <textarea class="textarea" placeholder="..." id="post-text"></textarea>
        </div>
        <button class="btn-generic" type="submit">Create</button>
    </div>
</form>

<script src="/javascript/add-post.js"></script>