<!-- LOG IN FORM -->
<form id="login-form">
    <div class="post-header">
        <h2>Login</h2>
    </div>
    <div class="post-content">
        <div>
            <label for="username-login">Username</label>
            <input type="text" id="username-login" placeholder="Eg: John Doe">
            <label for="password-login">Password</label>
            <input type="password" id="password-login" placeholder="******">
        </div>
        <button class="btn-generic" type="submit">Login!</button>
        <a class="login-link" href="/signup">Sign up instead</a>
    </div>
</form>
<script src="/javascript/login.js"></script>