<!-- SIGN UP FORM -->
<form id="signup-form">
    <div class="post-header">
        <h2>Sign Up</h2>
    </div>
    <div class="post-content">
        <div>
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup" placeholder="Eg: John Doe">
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" placeholder="******">
        </div>
        <button class="btn-generic" type="submit">Sign Up!</button>
        <a class="login-link" href="/login">Login instead</a>
    </div>
</form>
<script src="/javascript/signup.js"></script>